[submodule "ouger"]
	path = ouger
	url = https://github.com/rh-ecosystem-edge/ouger
[submodule "etcddump"]
	path = etcddump
	url = https://github.com/omertuc/etcddump
[submodule "telco5g-konflux"]
	path = telco5g-konflux
	url = https://github.com/openshift-kni/telco5g-konflux.git
