---
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Run rust-ci job
        run: make rust-ci
name: Rust
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - release-4.18
  push:
    branches:
      - release-4.18
