---
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Run yamllint
        run: make yamllint
name: Yamllint
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - release-4.16
  push:
    branches:
      - release-4.16
